{% extends "base.html" %}

{% block content %}
	<!-- Row-fluid inside containers for resizable layout -->
	<div class="container">
		<div class="row-fluid heading">
			<div class="span12">
				<h1>WSP Triple Editor</h1>
			</div>
		</div>
		
		<div class="row-fluid subheading">
			<div class="span12">
				<p class="lead">Edit RDF graphs in the browser</p>
			</div>
		</div>

		<form action="{% url "index" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% load widget_tweaks %}
			<p>{{ form.non_field_errors }}</p>
			<p>
				{{ form.docfile.errors }}
			<div class="control-group">
				<label class="control-label" for="description">
				  <p>{{ form.docfile.label_tag }}</p>
				</label>
				<div class="controls">
				  {{ form.docfile }}
				  <div class="dummyfile">
                    <button class="btn btn-primary"><i class="icon-white icon-upload"></i> Upload</button> 
				    <input id="filename" type="text" class="input disabled" name="filename" readonly>
                    <a id="fileselectbutton" class="btn"><i class="icon-white icon-folder-open"></i> Choose...</a>
				  </div>
				</div>
            </div>
		</form>
        <div>
        <form action="{% url "index" %}" method="post">
            {% csrf_token %}
            <p>Parse from SPARQL Enpoint (e.g. "http://data.linkedmdb.org/sparql")</p>
            <div>
                <button class="btn btn-primary"><i class="icon-white icon-globe"></i> Parse</button>
                {{ endpoint_form.endpoint_url }}
            </div>
        </form>
        </div>
        <div>
            <a href="{% url "spo" 1 %}" class="btn btn-success"><i class="icon-white icon-tag"></i> Example</a>
        </div>
        <div class="new-graph">
			<a href="{% url "newgraph" %}" class="btn btn-info"><i class="icon-white icon-plus-sign"></i> New</a>
		</div>

	</div>
{% endblock %}
