{% extends "base.html" %}

{% load url from future %}

{% block content %}

<div class="triple_table_wrapper">

<table id="triples" cellpadding="0" cellspacing="0" border="0" class="table table-bordered highlight-row">

  <thead>
    <th>Subject</th>
    <th>Predicate</th>
    <th>Object</th>
  </thead>

  <tbody>
    {% for triple in triple_list %}
    <tr id="row">

      <!--  <td id="subject" uri="{{ triple.0 }}" contentEditable>{{ triple.0 }}</td> -->
      
      <td id="subject_container">
      
      	<span id="subject" uri="{{ triple.0 }}" contentEditable>{{ triple.0 }}</span>
      	
      </td>

      <td id="predicate" uri="{{ triple.1 }}" rel="tooltip" title="{{ triple.1 }}">{{ triple.1 }}</td>

      <td id="object_container">

		<span id="object-icon-wrapper"><i id="object-icon" class="icon-white"></i></span>

        <span id="object" uri="{{ triple.2 }}" contentEditable>{{ triple.2 }}</span>

		<span id="delete_triple"><i class="icon-black icon-remove-sign"></i></span>
      </td>
    </tr>
    {% endfor %}
  </tbody>

  <tfoot>
    <tr>
      <th><input type="text" name="search_subject" value="Search subject" class="search_init" /></th>
      <th><input type="text" name="search_predicate" value="Search predicate" class="search_init" /></th>
      <th><input type="text" name="search_object" value="Search object" class="search_init" /></th>
  </tfoot>
</table>
</div>


<div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
	
	<!-- Add single triple -->
	<tr id="add_triple">
      <th><input id="add_subject" class="add_init" type="text" value="Add subject"></th>
      <th><input id="add_predicate" class="add_init" type="text" value="Add predicate" /></th>
      <th>
        <input id="add_object" class="add_init" type="text" value="Add object" />
        <button id="add_button" class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> <span>Add triple</span></button>
      </th>
    </tr>
    
    <tr id="fetch_triple_set">
    	<th><input id="triple_set_keywords" class="add_init" type="text" value="Enter keywords"></th>
    	
    	<th> <!-- Add a bootstrap dropdown menu to select the fetcher type -->
    		<div class="btn-group">
    			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="triple_set_type_select_label" >
    			Other
    			<span class="caret"></span>
    			</button>
    			<ul id="triple_set_type_select" class="dropdown-menu">
    				<li><a href="#">Other</a></li>
    			</ul>
    		</div>
    	 
    		<input id="triple_set_type_input" class="add_init" type="text" value="Enter type">
    	</th>
    	<th>
  			<div class="btn-group">
    			<button id="fetch_triple_set_button" class="btn btn-info"><i class="icon-white icon-repeat"></i> Fetch graphs</button>
    			
    			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="graph_selector_label">
    				Choose Graph
    				<span class="caret"></span>
    			</button>
    			<ul id="graph_selector" class="dropdown-menu">
    			</ul>
    			
    		</div>
    	</th>
    </tr>
</table>
</div>

<button id="rdf_export_button" class="btn btn-primary"><i class="icon-white icon-download"></i> Parse to RDF</button>
<button id="undo_button" class="btn btn-primary"><i class="icon-white icon-undo"></i> Undo</button>
{% endblock %}

{% block templatescripts %}

<script>
/* Load RDFJSON from Django */
	rdfjson = JSON.parse('{{ rdfjson|escapejs }}');
	namespaces_dict = JSON.parse('{{ namespaces_dict|escapejs }}');
	generic_rdfURL = '{% url "rdf" 999999 %}';
	base = '{{ base }}'
	subject_set = JSON.parse('{{ subject_set|escapejs }}');
	predicate_set_full = JSON.parse('{{ predicate_set|escapejs }}');
	triple_fetcher_classes = JSON.parse('{{ triple_fetcher_classes | escapejs }}');
	console.log(triple_fetcher_classes);
	
</script>

{% load staticfiles %}
<script src="{% static 'rdfedit/jQuery/jquery.dataTables.js' %}"></script>
<script src="{% static 'rdfedit/jQuery/dataTables.fnDisplayRow.js' %}"></script>
<script src="{% static 'rdfedit/jQuery/rdfedit-triples.js' %}"></script>
<script src="{% static 'rdfedit/jQuery/DT_bootstrap.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'rdfedit/bootstrap/css/DT_bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'rdfedit/css/rdfedit-triples.css' %}" />
{% endblock %}

{% block dropdown-tools %}

<li id="dropdown_undo"><a><i class="icon-black icon-undo"></i> Undo</a></li>
<li id="dropdown_rdf_export"><a><i class="icon black icon-download"></i> Parse to RDF</a></li>

{% endblock %}

{% block templatestyles %}

{% endblock %} 
